// SIMPLE CSS

.content {
  border: 1px solid #ccc;
  padding: 20px;
}

.content h2 {
  font-size: 3em;
  margin: 20px 0;
}

.content p {
  font-size: 1.5em;
  margin: 15px 0;
}

// SASS
.content {
  border: 1px solid #ccc;
  padding: 20px;

  h2 {
    font-size: 3em;
    margin: 20px 0;
  }

  p {
    font-size: 1.5em;
    margin: 15px 0;
  }
}


